@keyframes headerAnimation {
    to { background-position: 100% }
}
@keyframes start {
    from{
        transform: translate(0px, 0px);
    }
    to{
        transform: translate(0px, 70px);
    }
}

.main {
    height: 100%;
    width: 100%;
    align-items: center;
    background-image: linear-gradient(to right, aquamarine, navajowhite, pink);
}

.header{
    height: 30%;
    width: 100%;
    display: flex;
    transform: translate(0px,70px);
    justify-content: center;
    justify-content: space-evenly;
    font: 900 clamp(0.5em, 1.5vw, 1.0em) exo, cursive;
    background: linear-gradient(90deg, rgb(234, 0, 255), aquamarine, rgb(234, 0, 255)) -100%/ 200%;
    -webkit-background-clip: text;
	background-clip: text;
    color: transparent;
    animation: 
    headerAnimation 2s infinite ease-in-out,
    start 2s linear forwards;
}

.container{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#input {
    font-family: cursive;
    font-size: large;
    height: 15%;
    width: 100%;
    margin-top: 30px;
    transform: translate(0px,-15px);
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: grey;
    text-shadow: 1px 1px;
}

#button {
    font-family: fantasy;
    font-size: large;
    height: 20%;
    margin-top: 10%;
    width: 80%;
    margin-left: 12%;
    background-color: navajowhite;
    text-align: center;
    color: rgb(78, 78, 78);
}

.box {
    height: 60%;
    width: 40%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    background-color: aquamarine;
    box-shadow: 10px 10px;
    transform: translate(0px, -80px);
    transition: height 2s;
}

.box:hover{
    height:70%;
}
  