@keyframes headerAnimation {
    0% {
        background: -webkit-linear-gradient(0deg, #FC466B 0%, #3F5EFB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    20% {
        background: -webkit-linear-gradient(0deg, #FC466B 0%, #3F5EFB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    40% {
        background: -webkit-linear-gradient(0deg, #FC466B 0%, #3F5EFB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    60% {
        background: -webkit-linear-gradient(0deg, #3F5EFB 0%, #FC466B 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    80% {
        background: -webkit-linear-gradient(0deg, #FC466B 0%, #3F5EFB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background: -webkit-linear-gradient(0deg, #3F5EFB 0%, #FC466B 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@keyframes start {
    from{
        transform: translate(0px, 0px);
    }
    to{
        transform: translate(0px, 50px);
    }
}

.main {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, aquamarine, navajowhite, pink);
}

.header{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    background: -webkit-linear-gradient(aquamarine, navajowhite, pink);
    animation: 
    headerAnimation 2s infinite ease-in-out,
    start 2s linear forwards;
}

.container{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box {
    height: 30%;
    width: 40%;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: pink;
    box-shadow: 10px 10px;
    transform: translate(0px,-50px);
    transition: height 2s;
}

.box:hover {
    height: 40%;
}

#button {
    font-family: fantasy;
    font-size: large;
    height: 30%;
    width: 100%;
    background-color: navajowhite;
    text-align: center;
    color: rgb(78, 78, 78);
}
